@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root{
    --font1: 'Carter One', cursive;
    --font2: 'Courgette', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: 'Courgette', cursive;
    min-height: 100vh;
    background-color: lightblue;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    font-size: 5vw;
    font-family: var(--font1);
    padding-top: 30px;
    font-variant: small-caps;
}

header>p{
    font-family: sans-serif;
    padding-bottom: 30px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-size: 1.4em;
    padding-top: 10vh;
    padding-bottom: 10vh; 
    line-height: 2em;
    padding-left: 30px;
}

section > p{
    padding: 20px;
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: violet;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right bottom;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
}

section.imagem > p{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.342);
    max-width: 350px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}


footer{
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin: auto;
}